.card{
    border: 1.5px solid var(--dark-purple);
    box-shadow: 0 0 5px 1px var(--dark-purple-700);
    min-width: 30vw;
    min-height: 40vh;
    color: black;
}

.login-input {
  border: none;
  border-bottom: 2px solid var(--light-pink);
  transition: border-bottom-width 0.2s ease, background-color 0.25s ease;
  background-color: white;
}

.login-input:focus-visible {
  border-bottom-width: 4px;
}

.login-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
}

.login-input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: black;
}

.login-input:-internal-autofill-previewed { 
  background-color: white !important;
}

.password-toggle-btn {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.password-icon {
  width: 1.25rem;
  height: 1.25rem;
  opacity: 0.75;
  transform: scale(1) rotate(0deg);
  transition:
    opacity 0.2s ease,
    transform 0.25s ease;
}

.password-toggle-btn:hover .password-icon {
  opacity: 1;
  transform: scale(1.05);
}

.password-toggle-btn[aria-pressed="true"] .password-icon {
  transform: rotate(180deg) scale(1.05);
}


.password-icon.visible {
  opacity: 0.8;
  transform: scale(1) rotate(0deg);
}

.password-toggle-btn:focus-visible {
  outline: 2px solid var(--light-pink);
  outline-offset: 2px;
  border-radius: 50%;
}


