apiVersion: v1
kind: ConfigMap
metadata:
  name: gitea-config
  namespace: {{ include "gitea.namespace" . }}
  labels:
    {{- include "gitea.labels" . | nindent 4 }}
data:
  app.ini: |
    APP_NAME = Gitea: Git with a cup of tea
    RUN_MODE = prod
    RUN_USER = git

    [server]
    PROTOCOL = http
    DOMAIN = gitea.dev-platform.svc.cluster.local
    ROOT_URL = {{ .Values.global.gitea.url }}
    HTTP_PORT = 3000
    DISABLE_SSH = false
    SSH_PORT = 22
    START_SSH_SERVER = false
    LFS_START_SERVER = true
    OFFLINE_MODE = false

    [database]
    DB_TYPE = {{ .Values.database }}
    PATH = /data/gitea/gitea.db
    LOG_SQL = false

    [indexer]
    ISSUE_INDEXER_TYPE = bleve
    REPO_INDEXER_ENABLED = true

    [security]
    INSTALL_LOCK = true
    SECRET_KEY = change_this_secret_key_to_something_random
    INTERNAL_TOKEN = change_this_internal_token_to_something_random
    PASSWORD_HASH_ALGO = pbkdf2

    [service]
    DISABLE_REGISTRATION = false
    REQUIRE_SIGNIN_VIEW = false
    REGISTER_EMAIL_CONFIRM = false
    ENABLE_NOTIFY_MAIL = false
    DEFAULT_KEEP_EMAIL_PRIVATE = false
    DEFAULT_ALLOW_CREATE_ORGANIZATION = true
    DEFAULT_ENABLE_TIMETRACKING = true
    NO_REPLY_ADDRESS = noreply.localhost

    [oauth2]
    ENABLED = true
    JWT_SIGNING_ALGORITHM = RS256

    [oauth2_client]
    ENABLE_AUTO_REGISTRATION = true
    USERNAME = preferred_username
    EMAIL = email
    UPDATE_AVATAR = true
    ACCOUNT_LINKING = auto

    [openid]
    ENABLE_OPENID_SIGNIN = true
    ENABLE_OPENID_SIGNUP = true
    WHITELISTED_URIS = keycloak.auth-system.svc.cluster.local

    [webhook]
    ALLOWED_HOST_LIST = *

    [mailer]
    ENABLED = false

    [log]
    MODE = console
    LEVEL = Info
    ROOT_PATH = /data/gitea/log

    [repository]
    ROOT = /data/git/repositories

    [repository.upload]
    ENABLED = true
