apiVersion: v1
kind: Service
metadata:
  name: gitea
  namespace: {{ include "gitea.namespace" . }}
  labels:
    {{- include "gitea.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    {{- include "gitea.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
    - name: ssh
      port: 22
      targetPort: 22
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: gitea-external
  namespace: {{ include "gitea.namespace" . }}
  labels:
    {{- include "gitea.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "gitea.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: {{ .Values.service.httpPort }}
      targetPort: 3000
      protocol: TCP
    - name: ssh
      port: {{ .Values.service.sshPort }}
      targetPort: 22
      protocol: TCP
