.widget-card {
  background: var(--bg-black-200);
  border: 1px solid var(--bg-black-400);
  padding: 1.2rem;
  border-radius: 12px;
  color: var(--light-purple-900);
}

.widget-title {
  margin-bottom: 1rem;
  font-size: 16px;
  color: var(--light-purple-700);
}

.widget-text {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 1rem;
}

.upgrade-btn {
  background: none;
  border: 1px solid var(--light-blue-700);
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--light-blue-700);
}

.upgrade-btn:hover {
  background: var(--light-blue-700);
  color: black;
}
