apiVersion: v1
kind: Service
metadata:
  name: keycloak-headless
  namespace: {{ include "auth.namespace" . }}
  labels:
    app: keycloak
    {{- include "auth.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
    - name: jgroups
      port: 7600
      targetPort: 7600
      protocol: TCP
  selector:
    app: keycloak
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: {{ include "auth.namespace" . }}
  labels:
    app: keycloak
    {{- include "auth.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
    - name: metrics
      port: 9000
      targetPort: 9000
      protocol: TCP
  selector:
    app: keycloak
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak-external
  namespace: {{ include "auth.namespace" . }}
  labels:
    app: keycloak
    {{- include "auth.labels" . | nindent 4 }}
spec:
  type: {{ .Values.keycloak.service.type }}
  ports:
    - name: http
      port: {{ .Values.keycloak.service.port }}
      targetPort: 8080
      protocol: TCP
  selector:
    app: keycloak
