apiVersion: v1
kind: Service
metadata:
  name: memcached
  namespace: {{ include "auth.namespace" . }}
  labels:
    app: memcached
    {{- include "auth.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: memcached
      port: 11211
      targetPort: 11211
      protocol: TCP
  selector:
    app: memcached
