apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: {{ include "auth.namespace" . }}
  labels:
    app: postgres
    {{- include "auth.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    app: postgres
